html{
  scroll-behavior: smooth;
}

body{
  border: none;
  height: 100vh;
  width: 100%;

  
  padding-top: 100px;
  background-color: black;
  color: white;
  font-family: Archivo Narrow, Arial, Helvetica, sans-serif;
}

.about-heading {
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-weight: 600;
  margin-top: 100px;
  margin-bottom: 20px;
  border-bottom-width: 4px;

  border-bottom-style: solid;
  border-bottom-color: rgb(228,228,228);

  border-top-style: solid;
  border-top-color: rgb(228,228,228);
  border-top-width: 4px;

}

.info {
  font-size: 20px;
  width: 450px;
  text-shadow: 2px 2px 5px green;

}

.about-info {
  display: flex;
  justify-content: space-evenly;
}

.something-image {
  height: 400px;
}

.done{
  margin-top: 50px;
  font-size: 20px;
}